h3{
    text-align: center;
}
form {
    overflow: hidden;
}
 
/* label {
    margin-left: 80px;
    float: left;
    width: 150px;
    padding-right: 20px;
}
 
input {
    float: left;
    width: calc(80% - 300px);
}
button {
    width: calc(50% - 500px);
}

/* #container{
    text-align: center;
} */ 
.form-control:required:invalid{
    border:1px solid red;
}
#blood issues:required:invalid{
    border:1px solid red;
    
}
.group{
    display:block;
}
.span-for-errors{
    display: none;
}
#details{
    text-align: center;
}